body
{
    background-color: antiquewhite;
}
p,span
{
    font-size: 20px;
    padding-top: 10px;

}
#score
{
    font-size: 35px;
    margin-left: 20px;
}
#time
{
    font-size: 35px;
    float:right;
    margin-right: 20px;
}
#show_sketch
{
    float:right;

}
#sketch_name
{
    color: blue;
}